body {
    background-color: rgb(93, 168, 168);
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;

}

#code {
    text-align: center;
}

#question-box {
    background-color: rgb(4, 90, 107);
    padding-bottom: 200px;
    
}

#question, #responses {
    text-align: center;
    padding: 100px;
}

.next, .startbutton {
    border-radius: 10px;
    box-shadow: 5px 5px;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    font-weight: bold;
}

