body {
    background-color: rgb(93, 168, 168);
}

#code {
    text-align: center;
}

#question-box {
    background-color: rgb(4, 90, 107);
}

#question, #responses {
    text-align: center;
    padding: 100px;
}

.next {
    position: relative;
    border-radius: 10px;
    left: 425px;
    width: 200px;
    height: 50px;
    background-color: aquamarine;
}